*.framework filter=lfs diff=lfs merge=lfs -text
MicrosoftCognitiveServicesSpeech filter=lfs diff=lfs merge=lfs -text
MicrosoftCognitiveServicesSpeech.framework/MicrosoftCognitiveServicesSpeech filter=lfs diff=lfs merge=lfs -text
